* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Remove qualquer rolagem horizontal */
}
/* Escreva seu codigo css aqui */
header{
    width: 100%;
}

main {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-bottom: 300px;
}



.texto-Informativo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(87, 48, 13);
    height: 23px;
    
}

.texto-Informativo > P {
    color: whitesmoke;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 0;
    text-decoration: none;
}



#header-navbar  {
    width:99,9%; 
    height: 109px;                           /* Id que está estilizando o background do fundo da barra de navegaçaõ*/
    background-color:rgb(255, 255, 255);
    
    
}



.container{                   
    display: flex; 
    align-items: start;
    justify-content: center;
    
    
    
              
    
    
    
}




.container-nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
  
}

.navegacao {
    display: flex;
    padding-right: 70px;
    
    
    
}






.menu {              
    display: flex;
    list-style: none;
    gap:  40px;
    padding-right: 50px;
    align-items: center;
    
   
    
  
          
          
} 


.menu li {                  /* Alinhamento da lista */  
    align-items: center;
}


.menu li a {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 17px;
    font-weight: 450;
    text-decoration: none;     /* cor da lista e detalhes*/  
    color: rgb(0, 0, 0);
    position: relative;
    
    
    
    
    
}

.menu li a::after {
    content: "";
    left: 0;
    position: absolute;
    bottom: -2px; 
    width: 0;
    height: 3px; 
    background-color: rgb(255, 232, 137); 
    transition: width 0.3s ease; 
    
}

.menu li a:hover::after {
    width: 100%;
    
}


.logo {                         /* Alinhamento da Logo */   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-left:40px ;
    
    
    
    
}


.logo img {               /* tamanho da logo*/  
    
    height: 5rem;
    width: 5rem;
       
}           


svg {
    color: rgb(87, 48, 13);    
    height: 20px;
    width: 20px;
   
} 
/* Final do header*/









/*Inicio do index.html */


.escrita-inicial {
    background-color: rgb(255, 232, 137);
    height: 500px;
    padding-top: 60px;
    
    

   
    
}


.escrita-inicial h1 {
    color: rgb(78, 76, 76);
    
    font-family: "Kanit", sans-serif;
    font-size: 50px;                         /* Escrita h1 em cima do fundo azul claro*/  
    margin-left: 300px;
    
   

}


.escrita-inicial p {
    color: rgb(0, 0, 0);
    font-family: "Lato", sans-serif;
    font-weight: 400;                       /* paragrafo em cima do fundo azul claro*/
    font-size: 30px;
    font-style: normal;
    margin-left: 300px;
    margin-top: 20px;
    z-index: 0;
}

.text-banner {
    display: flex;
    justify-content: center;
}
.banner {
    display: flex;
    justify-content: center;
    padding-top: 70px;
 
}
.banner > img {
    height: 400px;
    width: 1500px;
}

.text-main {
    display: flex;
    padding-left: 10.5%;
    padding-top: 3rem;

}

.text-main > h1 {
    text-align: center;
    color: #000000;
    width: 110px;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-size: 20px;
    font-weight: 0;
    position: relative; /* Necessário para o ::after funcionar corretamente */
}

.text-main > h1::after {
    content: ""; /* Define um elemento vazio */
    display: flex; /* Para fazer o elemento ocupar espaço */
    width: 100%;
    height: 5px; 
    background-color: #550b0b;
    margin-top: 1px; 
}
    
/*Fim do index.html */


/*Inicio da página product */


.container-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-direction: column;
}

.carrousel {
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
    column-gap: 16px;
}

.main-text{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.5em;
    
    
}


.page-title-small {
    font-size: 0.875em;
    font-weight: 700;
    line-height: 1.5em;
    

}

.text-container {
    padding: 12px 62px;
    border-radius: 15px;
}

.product-card-title , 
.product-card-reference,
.product-card-price {
    font-size: 1em;
    font-weight: 400;
    line-height:1.125em ;
    background-color: rgb(255, 255, 255);
    
}

.product-card-title{
        height: 36px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
      
}

.product-card-reference{
    /* padding-top: 25px; */
    padding-bottom: 16px;
    font-size: 12px;
    font-weight: 300;

}

.product-card-price {
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 12px;
}

.product-card-installment {
    font-size: 0.75em;
    padding-bottom: 17px;;
    font-weight: 300;
}

.product-card {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);   /* alterando fundo do cartão  */
    padding:16px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
    border-radius: 15px;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.04);
    border: 2px solid rgb(255, 232, 137);

}

.product-card img {
    width:100%;
    border-radius: 15px;
    object-fit: cover;
}

.product-card-btn {
    width: 100%;
    padding: 5px 20px;
    background-color:rgb(87, 48, 13) ;   /* está alterando a cor do botão  */
    border-radius: 15px;
    color: rgb(255, 255, 255); /* está alterando a cor da palavra comprar   */
}

.banner2 {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.banner2 > img {
    height: 400px;
    width: 1500px;
}

.main-content-container{
    padding-top: 50px;
}

.products-container {
    display: grid;
    grid-template-columns: 0.9fr 3fr;
    column-gap: 16px;
    padding-bottom: 50px;
    color: rgb(0, 0, 0);
    
}

.section-product-grid {
    padding-top: 1.125em;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr;
    align-items: start;
    justify-items: center;
    column-gap: 16px;
    row-gap: 16px; 
}

.section-product {
    padding: 3.125em 0;
    position: relative;
}

.section-product-carrousel {
    
    padding-top: 3.125em;
    position: relative;
    overflow: hidden;
}

  .grid_col_1 {

    grid-area: col1;
    padding-top: 30px;
    
   
}

.grid_col_2 {
    grid-area: col2;
    padding: 25px;
    
    
}

/*Fim da página product */

/*Inicio da página checkout */
#product_page, #checkout, #billing{
    display: grid;
    column-gap: 32px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "col1 col2";
}

.product.text-container.page-title-small {
    border-radius: 1px;
    margin-top: 22px;
    margin-left: 10px;
    background-color: #57300D;
    color: #ffffff;
    
    

   
}


.product.text-container {
    margin: 10px 0px;
        
}

.product.text-container h4 {
    font-weight: 400;
    font-size: 0.875em;
    padding-bottom: 5px;
    width: 100px;
    height: 17px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #57300D;
    
    
}

.product.main-text {
    font-size:1.2em
}
/*fim da página checkout */


/* product page grid */


.product_images_container{
    display: flex;
    column-gap: 32px;
}

.images_selector{
    display: flex;
    flex-direction: column;
    flex-basis: 120px;
    align-items: center;
}

.bi::before, [class*=" bi-"]::before, [class^=bi-]::before {
    padding: 6px;
    font-size: 24px;
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: 900 !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.images_selector ul{
   list-style: none;
}

.images_selector li{
    padding: 10px 0;
 }

.product_thumb {
    width: 100%;
}



.images_main {
    flex-basis: 565px;
    padding-top: 75px;
}

.images_main img{
    width: 100%;
}

.product_description_container {
    padding-top: 32px;
    
}

.product_description_container h3.main-text{
    padding: 20px 0 12px;
    font-size: 1.2em;
    color: white;
    background-color: #57300D;
    padding-left: 10px;
    
}

.product_description_container p{
   line-height: 24px;
   padding-bottom: 32px;
}



.product_price_container {
    padding-bottom: 40px;
    
}

.product_price_container h2{
    font-size: 2em;
    font-weight: 700;
    padding-bottom: 16px;
    line-height: 18px;

}

.product_price_container h5{
    font-size: 0.875em;
    font-weight: 400;
    padding-bottom: 10px;
    line-height: 18px;

}

.quantity {
    display: flex;
    justify-content: center;

    column-gap: 16px;
}

.quantity input{
    border:1px solid ;
    border-radius: 30px;
    padding:4px 8px;
    width: 100%;
    font-size: 20px;
    
}

.shop_btn {
    padding: 16px 32px;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    background-color: rgb(87, 48, 13); /* botão comprar da página de product*/
}

.freight_container {
    text-align: center;
    border: 2px solid ;
    padding: 8px 16px;
    border-radius: 30px;
    background-color: rgb(87, 48, 13);             /* cor da parte de calcular frete da página de product  */
    height: 100px;
    color: rgb(255, 252, 252);
    margin-bottom: 30px;

}




.freight_container .container-flex{
    border-radius: 5px;
    margin: 8px 0px 5px;
    column-gap: 5px;
}



.freight_container form label{
   font-size: 0.875em;
}

.freight_container form input[type="text"]{
    border:1px solid ;
    border-radius: 5px;
    padding:4px 8px;
    width: 100%;
 }



 .button {
    padding:4px 8px;
    border: none;
    border-radius: 5px;
    

 }

 .freight_container p a {
    color: #ffffff;
    font-size: 12px;
    
 }

 .freight_pricing {
    background-color: #57300D;
    color: white;
    border: 1px solid ;
    padding: 16px 16px;
    justify-content: flex-start;
    column-gap: 20px;
    margin-bottom: 16px;
    border-radius: 30px;
}

.pricing h3{
    font-size: 1em;
    font-weight: 700;
    line-height: 18px;
    
}

.pricing p{
    font-size: 0.875em;
    font-weight: 400;
    line-height: 18px;
    
    
}

.freight_pricing:nth-child(4){
    background-color:#57300D ;
    border-radius: 30px;
   
}

.freight_pricing:nth-child(5){
    background-color: #57300D; 
    border-radius: 30px;
   
}

.freight_pricing:nth-child(6){
    background-color: #57300D;
    border-radius: 30px;
}

.product.text-container p {
    font-size: 0.875em;
    padding: 10px 0px;
}

.cart_item {
    display: flex;

    align-items: center;
    column-gap: 32px;
    margin-bottom: 32px;
    
  
    
}

.cart_item_main_img {
    flex-basis: 180px;
    border-radius: 5px;
    
}

.cart_item_main_img img{
    width: 120px;
    object-fit: cover;
    
}

.cart_item_info{
    width: 80%;
}

.cart_item_info p:first-child {
    font-size: 0.875em;
    font-weight: 700;
    padding: 0;
    padding-bottom: 5px;
}

.cart_item_info p:nth-child(2) {
    font-size: 0.875em;
    font-weight: 400;
    padding: 0;
    padding-bottom: 10px;
}

.cart_item_info h3{
    font-size: 1.2em;
    font-weight: 700;
    padding: 0;
    padding-bottom: 8px;
}

.cart_item_qtd_selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_item_qtd_selector_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.cart_item_qtd_selector button {
    background-color: #f1efef;
    padding: 3px 25px;
    border: none;
    border-radius: 5px;
    color: #c4c3c3;
    font-size: 12px;

}

.cart_item_qtd_selector_container span{
    padding: 3px 24px;
}

.bi::before, [class*=" bi-"]::before, [class^=bi-]::before
{
    padding: 3px;
}

.total_container {
    align-items: stretch;
    border: 1px solid ;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.checkout_btn {

        margin-bottom: 15px;
        width: 100%;
        font-size: 20px;
        padding: 10px 0px;
        background-color: rgb(87, 48, 13);
        color: #ffffff;
    }
 

.total {
        padding-bottom: 10px;

    }

.total:nth-child(2) h3{
    font-size: 14px;
    font-weight: 600;
}

.total:nth-child(3){
    border-top: 1px solid;
    padding-top: 5px;
}

.payment {
    
    padding:10px 0px
    
}

.Button-checkout {
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-style {
    display: inline-block; /* Para parecer um botão */
    padding: 10px 20px;
    width: 200px;
    height: 40px;
    background-color: #57300D;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .button-style:hover {
    background-color: #351e0d;
  }



.form-field {
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    width:100%
}

.form-field label {
    padding-bottom: 5px;
    font-size: 12px;
}

.form-field input, select{
    padding:10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #e4e4e4;
}

.form-field.cep,.form-field.uf{
    width: 20%;
}


.form-group {
    column-gap: 16px;
    
}

.pay-method input{
    margin-right: 3px;
}

.cvv{
    
    width: 20%;
}

.val{
    width: 30%;
}

.card-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    column-gap: 16px;
}

#orders{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: "col1 col2";
}

.order-card, .order-card ul {
    list-style: none;
}

.order-card ul{
    display: flex;
    justify-content: space-between;
}
.order-card ul:nth-of-type(2){
    display: flex;
    flex-direction: column;
}


/*Inicio do footer */

.footer-info-container {
    padding-top: 3.125em;
    padding-bottom: 1.5625em;
    column-gap: 16px;
    align-items: stretch;
    border-top: 1px solid #e2e2e2;
    display: flex;
    
}

.footer-info-card {
    background-color: #ececeb;
    width: 22.35em ;
    padding:11px;
    
}

.footer-info-card h4{
    font-weight: 400;
    padding-bottom: 16px;

}

.footer-info-card h3{
    font-size: 24px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding-bottom: 16px;
}

.footer-info-card h5{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 16px;
}



.footer-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 3em 0;
    background-color: #57300D;
    align-items: center;
    color: #ffffff;
}




.footer-navitem-container {
    
    margin-right: 51px;
}


.footer-navitem-container h3,
.footer-social-container h3{
    padding-bottom: 16px;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-size: 16px;
    font-weight: 450;
    
}

.footer-navitem-container ul{
   list-style: none;
   
}

.footer-navitem-container li{
    padding-bottom: 10px;
 }

 .footer-navitem-container li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 0;
 }

 .footer-social-container h5{
    padding-bottom: 10px;
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-size: 15px;
    font-weight: 0;

 }

 .footer-social-container i {
    padding-right: 16px;
    font-size: 36px;
    
 }

 .rights {
    text-align: center;
    padding: 32px 0;
    color: #000000;
 }
 .container-footer > h5 {
    color: rgb(0, 0, 0);
    font-family: "Montserrat";
    font-optical-sizing: auto;
    font-size: 14px;
 }

/*Fim  do footer */





